<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <title>Sistema de Alunos</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-info" aria-current="page" href="/">Home</a>
            </li>
            <div class="dropdown">
              <button
                class="btn dropdown-toggle text-info"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Alunos
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/alunos/lista">Lista de Alunos</a></li>
                <li><a class="dropdown-item" href="/alunos/formAluno">Cadastro do Aluno</a></li>
                
              </ul>
            </div>
            <div class="dropdown">
              <button
                class="btn dropdown-toggle text-info"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Turmas
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/turmas/lista">Lista de Turmas</a></li>
                <li><a class="dropdown-item" href="/turmas/form_turmas">Cadastro de Turma</a></li>
                
              </ul>
            </div>
            <div class="dropdown">
              <button
                class="btn dropdown-toggle text-info"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Cursos
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/cursos/lista">Lista de Cursos</a></li>
                <li><a class="dropdown-item" href="/cursos/form_cadastro">Cadastro de Curso</a></li>
                
              </ul>
            </div>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {{{body}}}
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>