<div class="mt-3 card text-center">
  <div class="card-header">
    Aviso de Exclusão
  </div>
  <div class="card-body">
    <h5 class="card-title">Tem certeza que deseja excluir o curso de {{curso.nome}}</h5>
    <p class="card-text">Todas as turmas com relação a esse curso seram deletados</p>
    <a href="/cursos/delete/{{curso.id}}" class="btn btn-primary">Sim</a>
    <a href="/cursos/lista" class="btn btn-primary">Não</a>
  </div>
</div>