<div class="row d-flex justify-content-end mt-3">
    <div class="col-3">
        <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Buscar RA" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
    </div>
</div>
<div class="row mt-2">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Data de inicio</th>
                <th>Data de conclusão</th>
                <th>Curso</th>
                <th>Qunatidade de Alunos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>10/10/2024</td>
                <td>20/10/2025</td>
                <td>Ingles</td>
                <td>10</td>
                <td>ALTERAR</td>
                <td>EXCLUIR</td>
            </tr>
            <tr>
                <td>1</td>
                <td>10/10/2024</td>
                <td>20/10/2025</td>
                <td>Ingles</td>
                <td>10</td>
                <td>ALTERAR</td>
                <td>EXCLUIR</td>
            </tr>
            <tr>
                <td>1</td>
                <td>10/10/2024</td>
                <td>20/10/2025</td>
                <td>Ingles</td>
                <td>10</td>
                <td>ALTERAR</td>
                <td>EXCLUIR</td>
            </tr>
            
        </tbody>
    </table>
</div>